body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(160, 149, 231);
    margin: 1em;
}
nav {
    font-size: xx-large;
    background-color: rgba(230, 230, 250, 0.493);
    border-color: black;
    border-style:solid ;
    margin: 1em;
    padding: 0.5em;
}
form {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    border-color: black;
    border-style: solid;
    overflow: auto;
    margin: 1em;
    max-width: max-content;
    background-color: rgba(230, 230, 250, 0.493);
}
button {
    background-color: darkslategrey;
    color: lavender;
    max-width: max-content;
    max-height: max-content;
}
ul {
    background-color: rgba(230, 230, 250, 0.493);
    list-style: none;
    display: flex;
    flex-direction: column;
    border-color: black;
    border-style: solid;
    padding: 0.5em;
    max-width: max-content;
    margin: 1em;
}
